In [3]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('iris.csv')
df.head(5)

   Sepal_Length   Sepal_Width   Petal_Length   Petal_Width        Class
0           5.1           3.5            1.4           0.2  Iris-setosa
1           4.9           3.0            1.4           0.2  Iris-setosa
2           4.7           3.2            1.3           0.2  Iris-setosa
3           4.6           3.1            1.5           0.2  Iris-setosa
4           5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
df.describe()

       Sepal_Length   Sepal_Width   Petal_Length   Petal_Width
count    150.000000    150.000000     150.000000    150.000000
mean       5.843333      3.054000       3.758667      1.198667
std        0.828066      0.433594       1.764420      0.763161
min        4.300000      2.000000       1.000000      0.100000
25%        5.100000      2.800000       1.600000      0.300000
50%        5.800000      3.000000       4.350000      1.300000
75%        6.400000      3.300000       5.100000      1.800000
max        7.900000      4.400000       6.900000      2.500000

In [6]:
sl = np.array(df["Sepal_Length"])
np.average(sl)

5.843333333333334

In [5]:
#dropping columns which are unnessasary
df.drop(['Sepal_Length'], inplace=True,axis=1)
df.head(5)

    Sepal_Width   Petal_Length   Petal_Width        Class
0           3.5            1.4           0.2  Iris-setosa
1           3.0            1.4           0.2  Iris-setosa
2           3.2            1.3           0.2  Iris-setosa
3           3.1            1.5           0.2  Iris-setosa
4           3.6            1.4           0.2  Iris-setosa

In [11]:
ndf = pd.DataFrame(data = df,columns=['Class',' Petal_Width'])
ndf.groupby(['Class'],as_index = False).mean()

             Class   Petal_Width
0      Iris-setosa         0.244
1  Iris-versicolor         1.326
2   Iris-virginica         2.026

In [1]:
# plt.figure(figsize=[12,6]) # to create a wider graph\n",
ax = sns.countplot(data = df,hue = 'Class',palette='Set1',x = ' Sepal_Width')
# ax.set(title='Flowers of each specie',xlabel='Sepal Width',ylabel='No. of flowers')
# plt.tight_layout()
# plt.show()

NameError: name 'sns' is not defined

In [ ]:
interval = (0,1,2,4)
category = ['<1','1 to 2','>2']
df['Petal_Catg'] = pd.cut(df[' Petal_Width'],interval,labels=category)
ax = sns.countplot(data = df,x = 'Petal_Catg',hue='Class',palette='YlOrRd')
ax.set(title='Petal Width',xlabel='Category of Petals',ylabel='No. of flowers')
plt.show()

In [ ]:
plt.figure(figsize=[12,6])
ax = sns.countplot(data = df[df['Class'] == 'Iris-setosa'],x = ' Sepal_Width',palette='Set1')
ax.set(title='Iris-setosa',xlabel='Sepal Width',ylabel='No. of flowers')
plt.show()