In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
studperf_df=pd.read_csv('StudentsPerformance.csv')
studperf_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  774 non-null    object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   mathscore                    1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [5]:
studperf_df.columns = [c.replace(' ', '_') for c in studperf_df.columns]

In [6]:
studperf_df.info(verbose=False) # short summary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 8 entries, gender to writing_score
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [7]:
studperf_df.describe()

         mathscore  reading_score  writing_score
count  1000.000000    1000.000000    1000.000000
mean     65.969000      69.169000      68.054000
std      15.310338      14.600192      15.195657
min       0.000000      17.000000      10.000000
25%      56.750000      59.000000      57.750000
50%      66.000000      70.000000      69.000000
75%      77.000000      79.000000      79.000000
max     100.000000     100.000000     100.000000

In [8]:
studperf_df.head(15)

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,mathscore,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,NaN,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,NaN,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,NaN,standard,completed,88,95,92
7,male,group B,NaN,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,NaN,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58

In [ ]:
#Remove unnecessary features (E.g. drop unwanted columns)
stuperf_df = studperf_df.drop(['lunch'], axis=1,inplace = False)#here we copied the dataframe
stuperf_df.head(3)

In [ ]:
#Manipulate data by replacing empty column values in ‘parental level of education’ with a default value.
stuperf_df["parental level of education"] =stuperf_df["parental level of education"].fillna("Not applicable")
stuperf_df.head(5)

In [ ]:
#Convert the attribute ‘race/ethnicity’ to have ‘groupA’ to be ‘Asian Students’, ‘groupB’ to be ‘African Students’ ,  ‘groupC’ to be ‘Afro-Asian #Students’, ‘groupD’ to be ‘American Students’ and ‘groupE’ to be ‘European Students’
stuperf_df["race/ethnicity"]=stuperf_df["race/ethnicity"].map({"group A" : "Asian students",
                                                               "group B" : "African students",
                                                               "group C" :"Afro-Asian students",
                                                               "group D" : "American students",
                                                               "group E" : "European students"})
stuperf_df.head(2)

In [ ]:
#Tally of the Number of Male & Female students who took up the ‘test preparation course’ and those who did not.
ax = sns.countplot(x="test preparation course",hue='gender',palette='Set3',data=stuperf_df)
ax.set(title="Course completion based on gender", xlabel='Course', ylabel='Total')
plt.show()

In [ ]:
#Total Number of Male & Female Students belonging to each student group 
ax = sns.countplot(x="race/ethnicity",hue="gender",palette="Set2",data=stuperf_df)
ax.set(title="Total number of male and female students belonging to each group", xlabel="Groups", ylabel="Total")
plt.show()

In [ ]:
#No of students who ‘failed’(less than 40), ‘second class’(between 40 & 50).
#'first class’(between 60 & 75) and ‘distinction’(above 75) in ‘Maths’, 
#‘Reading’ and ‘Writing’.
interval=(0,40,50,60,75)
categories = ["Fail", "2nd class","1st class","Distinction"]
stuperf_df["Marks_cats"]=pd.cut(stuperf_df.mathscore,interval,labels=categories)
ax=sns.countplot(x="Marks_cats",hue="gender",palette="Set1",data=stuperf_df)
ax.set(title="Marks categorisation for math",xlabel="Categories",ylabel="Number of students")
plt.show()

In [ ]:
stuperf_df.columns = [c.replace(' ', '_') for c in stuperf_df.columns]

In [ ]:
stuperf_df["Marks_Cats"]=pd.cut(stuperf_df.reading_score,interval,labels=categories)
ax=sns.countplot(x="Marks_Cats",hue="gender",palette="Set1",data=stuperf_df)
ax.set(title="Marks categorisation for reading",xlabel="Categories",ylabel="Number of students")
plt.show()

In [ ]:
stuperf_df["Marks_Cats"]=pd.cut(stuperf_df.writing_score,interval,labels=categories)
ax=sns.countplot(x="Marks_Cats",hue="gender",palette="Set1",data=stuperf_df)
ax.set(title="Marks categorisation for writing",xlabel="Categories",ylabel="Number of students")
plt.show()